* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container-colum {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.container-row {
  display: flex;
}

.button {
  flex-basis: 25%;
  font-size: 1, 5em;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  cursor: pointer;
}

.double {
  flex-basis: 50%;
}

.display {
  color: white;
  background-color: rgb(37, 85, 85);
  padding: 10px 20px;
  width: 100%;
  border: 1px solid black;
  font-size: 2em;
}

.operator,
.negative,
.equal {
  background: orange;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}

.button:hover {
  font-weight: bold;
  box-shadow: inset 5px 5px 10px 0 rgb(255, 255, 255);
}

.button:active {
  box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: smaller;
  font-weight: bold;
}

@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
}
